Available slots for <%= @date %><br />
<ul>
  <% @tee_slots_for_date.each do |k,v| %>                                        
  <li><%= "#{k} has #{v}" %></li>                                                
  <% end -%>
</ul>
