<html>
  <head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Day');
        data.addColumn('number', 'Slots Left');
        data.addRows([
		<% @inventory.each_pair do |k,v| %>
          ['<%=k%>', <%=v%>],
		<% end %>
        ]);

        var options = {
          width: 800, height: 240,
          title: 'Unsold Tee Slots',
          hAxis: {title: 'Date', titleTextStyle: {color: 'red'}}
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div id="chart_div"></div>
  </body>
</html>