</body>
<script type="text/javascript">    
var details_open = false;
function slideDown(){
	if(!details_open){
		$('#pricing_details').slideDown();
		details_open = true;
	}else{
		$('#pricing_details').slideUp();
		details_open = false;
	}

}
var gallery = [];
var i_counter = 0;
var g1 = 0;
var g2 = 1;
var gflip = true;
 <% @app.course_info['gallery'].each do |i| %>
gallery.push("<%= i %>");
<% end %>


var gallery_not_started = true;


function callUserSignIn(){
	alert("Hello New User");
}
function changePage(where){
	$.mobile.changePage(where, {transition: 'slide', showLoadMsg:false});
}
function callNoTeeTimeSelected(){
	alert("Please select a Tee Time first!");
}
function gflipIn(){
	g1 += 2;
	g2 += 2;
	$('#gboxi').fadeIn(1500,function(){
		//showing 7
		if(g1>(gallery.length-1)){
			if(gflip){
				g1 = 0;
			}else{
				g1 = 1;
			}
		}
		$('#gbox').css("backgroundImage","url("+gallery[g1]+")");
		setTimeout("gflipOut()",2500);

	});
}
function gflipOut(){
	$('#gboxi').fadeOut(1500,function(){
		//showing 8
		if(g2>(gallery.length-1)){
				if(gflip){
					g2 = 1;
					gflip = false;
				}else{
					g2 = 0;
					gflip = true;
				}
		}

		$('#gboxi').attr("src",gallery[g2]);

		setTimeout("gflipIn()",2500);
	});
}

function submitform(){
    var first_name = $('#first_name').val();
	var last_name  = $('#last_name').val();
	var email_address = $('#email_address').val();
	app.first_name=$('#first_name').val();
	app.last_name=$('#last_name').val();
	app.email = $('#email_address').val();
	$.post("/device_communication/login",{
		"f_name":first_name,
		"l_name":last_name,
		"email":email_address,
		"device_name":"iphone",
		"redirect":"true",
		"os_version":"4.0",
		"app_version":"web"},function(data){
			confirmTime();
		
	})
}

var no_back = false
function get_page(url){
	console.log("hello_ "+url);
	window.location.hash = url+"&xhr=true";
	no_back = true;
	x$( 'body' ).xhr( url+"&xhr=true");
		

}
<% if @render_head %>
var page_loaded = false;
<% else %>
x$('a').each(function(element, index, xui) {
   x$(element).attr("onclick","get_page('"+x$(this).attr("href")+"')").attr("href","#"+x$(this).attr("href")).attr("no_script","true");
});
<% end %>
var back_log = ["",""];
var bc = function backCheck(){
	var test_hash = window.location.hash;
	if(back_log[back_log.length-1] != test_hash.replace("#","")){

		if(no_back){
			back_log.push(test_hash.replace("#",""));
			no_back = false;
		}else{
			var t = back_log.pop();
			alert(t);
			console.log(back_log);
			var to_get = back_log[back_log.length-1];
			if(to_get == ""){
				window.location = "http://www.presstee.com/mobile/index_xui?course_id=<%= @app.course.id.to_s %>";
			}else{
				x$( 'body' ).xhr( to_get);
			}
			
		}
		
	}
}
window.onload = function on_load(){

	
	x$('a').each(function(element, index, xui) {
	   x$(element).attr("onclick","get_page('"+x$(this).attr("href")+"')").attr("href","#"+x$(this).attr("href")).attr("no_script","true");
	});
	page_loaded = true;
	setInterval(bc,100);
}

function confirmTime(){
	var confirm_time = confirm(app.first_name+" "+app.last_name+" ("+app.email+") \nFor "+app.golfers+" golfers on "+app.date+" at "+app.timer+"\n------------\n$"+app.total+" (due at course)");
	if(confirm_time==true){
		reserveTime()
	}else{
		
	}
}
function reserveTime(){
	$.post("/device_communication/book_reservation",{
		"course_id":app.course_id,
		"golfers":app.golfers,
		"email":app.email,
		"date":app.date,
		"time":app.timer,
		"total":app.total},function(data){
			$.mobile.changePage("/mobile/reservations?course_id=1");
		
	});
}

</script>
</html>