<div data-role="footer" data-transition="fade" data-id="footer_bottom" data-touch-toggle="false"  data-theme="a" data-position="fixed" class='footer'>		
	<div data-role="navbar"  data-theme="a">
			<ul>
				<li style='border-right:0px solid white !important;' <% if @app.is_active('about') %> class="active"<% end %> ><a <% if @app.is_active('about') %> class="ui-btn-active"<% end %> href="<%= @app.get_url('about',{}) %>" data-transition="fade">Course</a></li>
				<li <% if @app.is_active('booking') or @app.is_active('index_xui') %> class="active"<% end %>><a <% if @app.is_active('booking') or @app.is_active('index_xui') %> class="ui-btn-active"<% end %> href="<%= @app.get_url('booking',{}) %>" data-transition="fade">Tee Times</a></li>
				<li <% if @app.is_active('reservations') %> class="active last"<% else %>class='last'<% end %>><a <% if @app.is_active('reservations') %> class="ui-btn-active"<% end %> href="<%= @app.get_url('reservations',{}) %>" data-transition="fade">Account</a></li>
				
			</ul>
		</div><!-- /navbar -->
</div><!-- /footer -->
<div data-role="page" id="popup">

	<div data-role="header" data-theme="e">
		<h1>Dialog</h1>
	</div><!-- /header -->

	<div data-role="content" data-theme="d">	
		<h2>Popup</h2>
		<p>I have an id of "popup" on my page container and only look like a dialog because the link to me had a <code>data-rel="dialog"</code> attribute which gives me this inset look and a <code>data-transition="pop"</code> attribute to change the transition to pop. Without this, I'd be styled as a normal page.</p>		
		<p><a href="#one" data-rel="back" data-role="button" data-inline="true" data-icon="back">Back to page "one"</a></p>	
	</div><!-- /content -->
	
	<div data-role="footer">
		<h4>Page Footer</h4>
	</div><!-- /footer -->
</div><!-- /page popup -->
<script type='text/javascript'>
try{
	if(page_loaded){
		x$('a').each(function(element, index, xui) {
			
			if(x$(this).attr("href").indexOf('javascript') ==-1 && !x$(this).attr("onclick")){
				x$(element).attr("onclick","get_page('"+x$(this).attr("href")+"')").attr("href","#"+x$(this).attr("href").replace("#","")).attr("no_script","true");
			}
		    
		});
	}
}catch(err){
	
}

</script>