<div data-role="footer" data-transition="fade" data-id="footer_bottom" data-touch-toggle="false"  data-theme="a" data-position="fixed" class='footer'>		
	<div data-role="navbar"  data-theme="a">
			<ul>
				<li><a <% if @app.is_active('') %> class="ui-btn-active"<% end %> href="<%= @app.get_url('',{}) %>">Tee Times</a></li>
				<li><a <% if @app.is_active('reservations') %> class="ui-btn-active"<% end %> href="<%= @app.get_url('reservations',{}) %>">Reservations</a></li>
				<li><a <% if @app.is_active('about') %> class="ui-btn-active"<% end %> href="<%= @app.get_url('about',{}) %>">About Us</a></li>
			</ul>
		</div><!-- /navbar -->
</div><!-- /footer -->
<script type='text/javascript'>
try{
	if(page_loaded){
		x$('a').each(function(element, index, xui) {
			if(x$(this).attr("no_script")!="true"){
				x$(element).attr("href","javascript:get_page('"+x$(this).attr("href")+"')");
			}
		    
		});
	}
}catch(err){
	
}

</script>