  	<form method="POST" id="signInForm" action="/device_communication/login">
    	<div style="height:15px;"></div>
		<select id='contact_method'  data-role="none" style='width:100%;font-size:20px;margin-bottom:11px;margin-top:-4px' onchange="update_contact_placeholder" name='contact_method'>
			<option value='phone' SELECTED>Contact via Phone</option>
			<option value='email'>Contact via Email</option>
			<option value='text'>Contact via Text (SMS)</option>
		</select>
		<fieldset style='margin-bottom:18px;margin-top:6px' >
		<input type="checkbox"  CHECKED name="send_deals" data-role="none"  id="send_deals" class="custom" />
		<label onclick="check_deals();" id='sd_label' for="send_deals"><b style='color:green'>Send Me Exclusives from Deep Cliff</b></label>
		</fieldset>
		<ul style='border-radius:6px'>
      		<li><input placeholder="First Name" style='font-size:20px' data-role="none" id="first_name" value="<%= @app.get_user_fname %>" type="text" name="fname1" onfocus="$('#token').attr('value', '')"/></li>
      		<li><input placeholder="Last Name" style='font-size:20px'  data-role="none" id="last_name" type="text" value="<%= @app.get_user_lname %>"  name="lname1" onfocus="$('#token').attr('value', '')"/></li>
<li><input placeholder="Phone Number" style='font-size:20px' data-role="none" id="contact_value" type="text" value="<%= @app.get_user_contact %>"  name="contact" /></li>
    	</ul>  

		
    	<input type='hidden' name='redirect' value="true" />
		<a href='javascript:submitform(false);'  style='margin:0px;border-radius:6px' class='book_button'>Save Settings</a>


  	</form>