<div data-role="page" data-theme="a" data-cache="never">
	<%= render :partial => "header", :locals => { :app => @app } %>

	<div class="content">
		<form method="POST" id="signInForm" action="/device_communication/login">
			<div style="height:15px;"></div>
						
			<ul style='border-radius:6px'>
				<li><input placeholder="First Name" style='font-size:20px' data-role="none" id="first_name" value="" type="text" name="fname1" onfocus="$('#token').attr('value', '')"/></li>
				<li><input placeholder="Last Name" style='font-size:20px'  data-role="none" id="last_name" type="text" value=""  name="lname1" onfocus="$('#token').attr('value', '')"/></li>
				<li><input placeholder="Email Address" style='font-size:20px' data-role="none" id="contact_value" type="text" value=""  name="contact" /></li>
			</ul>  
			
			<input type='hidden' name='redirect' value="true" />
			<a href='javascript:submitform(true);' style='margin:0px;border-radius:6px' class='book_button'>Book Tee Time</a>
		</form>
	</div>
	
	<%= render :partial => "footer", :locals => { :app => @app } %>
</div>
