
<div data-role="page" data-theme="a" data-cache="never">
  <%= render :partial => "header", :locals => { :app => @app } %>


  <div class="content">
	
  	<form method="POST" id="signInForm" action="/device_communication/login">
    	<div style="height:15px;"></div>
		<ul>
      		<li><input placeholder="First Name" id="first_name" value="" type="text" name="fname1" onfocus="$('#token').attr('value', '')"/></li>
      		<li><input placeholder="Last Name"  id="last_name" type="text" value=""  name="lname1" onfocus="$('#token').attr('value', '')"/></li>
    	</ul>  
		<select id='contact_method'  onchange="update_contact_placeholder" name='contact_method'>
			<option value='email'>Contact via Email</option>
			<option value='phone'>Contact via Phone</option>
			<option value='text'>Contact via Text (SMS)</option>
		</select>
    	<ul >
      		<li><input placeholder="Email Address" id="contact_value" type="text" value=""  name="contact" /></li>
    	</ul>
    	<input type='hidden' name='redirect' value="true" />
		<p align="center">
			<a href="javascript: submitform()"><img border="0" width="300" style="padding-top:0px" src="/images/button.png"/></a>
    	</p>
  	</form>

  </div>
<%= render :partial => "footer", :locals => { :app => @app } %>
</div>
