<html>
  <head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
		var raw_data = <%=@data_bar.to_json%>;
		var days = [0,1,2,3,4,5,6,7];

        data.addColumn('string', 'days early');
		for (var i = 0; i  < raw_data.length; ++i) {
		    data.addColumn('number', raw_data[i][0]);    
		  }

		data.addRows(days.length);
		for (var j = 0; j < days.length; ++j) {    
		    data.setValue(j, 0, days[j].toString());    
		  }
		
		for (var i = 0; i  < raw_data.length; ++i) {
		    for (var j = 1; j  < raw_data[i].length; ++j) {
		      data.setValue(j-1, i+1, raw_data[i][j]);    
		    }
		  }
       

        var options = {
          title: 'Advanced Booking',
          vAxis: {title: 'Days Early',  titleTextStyle: {color: 'green'}},
		  isStacked:true
        };

        var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div id="chart_div" style="width: 900px; height: 500px;"></div>
  </body>
</html>