<html>
	<body>
				
		<p>Hi <%= @reservation[:first] %>,</p>

		<p>Thanks for booking a tee time at Deep Cliff Golf Course using our new mobile booking experience. Please be sure to arrive at least 10 minutes before your tee time. Enjoy your round of golf!</p>
		

				
		<p>Cheers,
		<br>Deep Cliff Golf Course</p>
		
		<p>P.S. Please send us feedback on how we can improve your mobile booking experience, you can respond directly to this email or send to feedback@presstee.com</p>
				
	</body>
</html>